.table {
    margin: 0 auto;
    max-width: 80%;
  }
  
  th {
    text-align: left;
  }
  
  td {
    vertical-align: middle;
  }
  
  .pagination {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
  }
  
  .page-item {
    margin: 0 5px;
    border-radius: 5px;
  }
  
  .active {
    background-color: #007bff;
    border-color: #007bff;
  }
  
  .page-link {
    color: #007bff;
    background-color: #fff;
    border: 1px solid #dee2e6;
  }
  
  .page-link:hover {
    color: #fff;
    background-color: #310597;
    border-color: #310597;
  }
  
  .page-link:focus {
    box-shadow: none;
  }
  
  .page-item.disabled .page-link {
    color: #6c757d;
    pointer-events: none;
    background-color: #fff;
    border-color: #dee2e6;
  }
  