body {
  font-family: 'Roboto', sans-serif;
}

.users-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px auto;
  max-width: 800px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.table {
  width: 100%;
  border-collapse: collapse;
  background-color: rgb(220, 253, 255);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

th,
td {
  padding: 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
  font-weight: bold;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #ddd;
  transition: background-color 0.3s ease;
}

.email,
.street,
.suite,
.city,
.zipcode {
  font-style: italic;
  color: #666;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  padding: 10px 0;
}

.page-item {
  display: inline-block;
  margin-right: 10px;
}

.page-link {
  display: block;
  padding: 5px 10px;
  background-color: #f2f2f2;
  border: 1px solid #ddd;
  color: #666;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.page-link:hover {
  background-color: #ddd;
}

.active .page-link {
  background-color: #007bff;
  border-color: #007bff;
  color: #fff;
}

.active {
  background-color: #007bff;
  border-color: #007bff;
}

@media only screen and (max-width: 600px) {
  .pagination {
    flex-wrap: wrap;
  }
  .page-item {
    margin-right: 0;
    margin-bottom: 5px;
  }
}

.page-item.disabled .page-link {
  color: #6c757d;
  pointer-events: none;
  background-color: #fff;
  border-color: #dee2e6;
}
